<div id="calendar">
  <%= image_tag("logo.png", :alt => "TradeGecko", :class => "logo-tg") %>
  <%= image_tag("broadcast.png", :alt => "Broadcast", :class => "logo-bc") %>
  <span class="logo-type">Broadcast</span>
  <span class="instructions">use <code>/broadcast</code> on Slack to annoy</span>
  <span class="instructions">fork <code>github.com/yurikoval/soundhook</code> and contribute</span>
</div>
<div id="youtube_player"></div>
<div id="content"></div>
<audio id="player" autoplay="autoplay"></audio>
